%h1 Listing Calls

%table.calls
  %tr
    %th Type
    %th Address
  %tr
    %td PERSON CONTACT (86)
    %td 19600 BLOCK OF NE GLISAN ST, GRESHAM, OR
  %tr
    %td TRAFFIC STOP
    %td SE 80TH AVE / SE GLADSTONE ST, PORTLAND, OR
  %tr
    %td WARRANT
    %td 19100 BLOCK OF E BURNSIDE ST, GRESHAM, OR
  %tr
    %td NOISE DISTURBANCE
    %td 2300 BLOCK OF SE TAYLOR ST, PORTLAND, OR
  %tr
    %td TRAFFIC STOP
    %td NW 257TH AVE / NW 257TH WAY, TROUTDALE, OR

