---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=19600%20BLOCK%20OF%20NE%20GLISAN%20ST,%20GRESHAM,%20OR&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "19600",
                       "short_name" : "19600",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Northeast Glisan Street",
                       "short_name" : "NE Glisan St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "North Gresham",
                       "short_name" : "North Gresham",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
       [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=SE%2080TH%20AVE%20/%20SE%20GLADSTONE%20ST,%20PORTLAND,%20OR&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
 [...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=19100%20BLOCK%20OF%20E%20BURNSIDE%20ST,%20GRESHAM,%20OR&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      Alternate-Protocol:
      - 80:quic
    body:
      encoding: UTF-8
      string: |
        {
           "results" : [
     [...]
[...]
