---
http_interactions:
- request:
    method: get
    uri: http://www.portlandonline.com/scripts/911incidents.cfm
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: "<?xml version=\"1.0\" encoding=\"UTF-8\"?>\n<feed xmlns=\"http://www.w3.org/2005/Atom\"
        xmlns:georss=\"http://www.georss.org/georss\">\n\t<id>urn:uuid:2c8b4910-e5c4-11de-8a39-0800200c9a66</id>\n\t<title>Portland
        911 Dispatch Incidents</title>\n\t<subtitle>Recent 911 dispatch incidents
        in Portland, Oregon </subtitle>\n\t<link href=\"http://www.portlandonline.com/scripts/911incidents.cfm\"
        rel=\"self\"/>\n\t<updated>2013-12-28T17:51:12.939-08:00</updated>\n\t<author>\n\t\t<name>City
        of Portland</name>\n\t\t<email>cgis@portlandoregon.gov</email>\n\t</author>\n\t<icon>http://www.portlandoregon.gov/bibs/article/87997</icon>\n\n\t\n\t\t<entry>\n\t\t\t<id>tag:portlandoregon.gov,2013-12-28:cad-incidents/PG13000072425</id>\n\t\t\t<title>UNDESCRIBED
        INCIDENT at 2400 BLOCK OF NW BURNSIDE CT, GRESHAM, OR</title>\n\t\t\t<updated>2013-12-28T17:47:10.0-08:00</updated>\n\t\t\t<summary>UNDESCRIBED
        INCIDENT at 2400 BLOCK OF NW BURNSIDE CT, GRESHAM, OR [Gresham Police #PG13000072425]</summary>\n\t\t\t<category
        label=\"UNDESCRIBED INCIDENT\" term=\"UNDESCRIBED INCIDENT\"/>\n\t\t\t<published>2013-12-28T17:44:07.0-08:00</published>\n\t\t\t\n\t\t\t<georss:point>45.514193
        -122.457471</georss:point>\n\t\t\t\n\t\t\t<content type=\"html\">\n\t\t\t\t\t&lt;dl&gt;\n\t\t\t\t\t\t&lt;dt&gt;ID:&lt;/dt&gt;\n\t\t\t\t\t\t&lt;dd&gt;PG13000072425&lt;/dd&gt;\n\t\t\t\t\t\t&lt;dt&gt;Call
        Type:&lt;/dt&gt;\n\t\t\t\t\t\t&lt;dd&gt;UNDESCRIBED INCIDENT&lt;/dd&gt;\n\t\t\t\t\t\t&lt;dt&gt;Address:&lt;/dt&gt;\n\t\t\t\t\t\t&lt;dd&gt;2400
        BLOCK OF NW BURNSIDE CT, GRESHAM, OR&lt;/dd&gt;\n\t\t\t\t\t\t&lt;dt&gt;Agency:&lt;/dt&gt;\n\t\t\t\t\t\t&lt;dd&gt;Gresham
        Police&lt;/dd&gt;\n\t\t\t\t\t\t&lt;dt&gt;Last Updated:&lt;/dt&gt;\n\t\t\t\t\t\t&lt;dd&gt;12/28/13
        5:47:10 PM PST&lt;/dd&gt;\n\t\t\t\t\t&lt;/dl&gt;\n\t\t\t</content>\n\n\n\t\t</entry>\n\t\n\t\t<entry>\n\t\t\t<id>tag:po[...]
